.namki_blocks{
  word-break: keep-all;
  font-size:70%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 30%;
  height: 25%;
  /* border-width: 2px;
  border-color: black;
  border-style: solid; */
}
.namki_menuimg {
  margin-bottom:0;
  width: 65%;
  border-radius: 50%;
}
