
.namki_blocks{
  word-break: keep-all;
  width: 30%;
  margin-top: 1rem;
  font-size: .8rem;
}
.namki_menuimg {
  margin-bottom:0;
  width: 65%;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}
