    #MakeCombi {
      padding: 1rem;
      margin-top: -4rem;
      font-family: 'Kanit', sans-serif;
      color: rgb(70, 70, 70);
    }
    .Hyeri__makecombi_header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /*color: dimgrey;*/
      /*box-shadow: 0 1px 2px lightgrey;*/
      border-bottom: 1px solid lightgrey;
      margin-bottom: 1rem;
    }   
    .Hyeri__uploadbox{
      /*display: inline-flex;*/
      justify-content: center;
    } 
    .namki_uploadingimage{
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      object-position: top;
      overflow: hidden;

      
    }
    .Hyeri__filebox{
      display: inline-block;
      padding: .8em .5em;
      color: white;
      vertical-align: middle;
      /*background-color: lightskyblue;*/
      background:linear-gradient(to left, lightskyblue, #8470ff);
      box-shadow: 1px 1px 2px lightgrey;
      border-radius: .7rem;
      width: 50%;
      margin-top: 1rem;
      margin-bottom: 2rem;

    }
    .Hyeri__filebox input[type="file"]{
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip:rect(0,0,0,0);
      border: 0;

    }

    .namki_button {
      display: flex;
      padding: 5px 5px;
      border: 1px solid #ddd;
      color: #333;
      background-color:#fff;
      border-radius: 4px;
      font-size: 10px;
      cursor: pointer;
      margin-left: .4rem;
    }
    .namki_button_active{

      /*background: radial-gradient(#b0e2ff, #87cefa);*/
      color: white;
      background-color: lightskyblue;
      border: 1px solid lightskyblue;
      box-shadow: 1px 1px 3px dodgerblue;
      /*border: none;*/
      /*box-shadow: inset 1px 1px 2px white;*/
    }
    .namki_MakeCombi_select {
      margin-bottom:5px;
      width: 100%; /* 원하는 너비설정 */
      padding: 1em 1em; /* 여백으로 높이 설정 */
      font-family: inherit;  /* 폰트 상속 */
      border: 1px solid lightgrey;
      border-radius: .5rem;
      color: dimgrey;
      font-weight: 500;
      margin-top: .1rem;
      -webkit-appearance: none; /* 네이티브 외형 감추기 */
      -moz-appearance: none;
      appearance: none;
      background-color: white;
      background: url('../../assets/arrow-down_lightskyblue.png') no-repeat 95% 50%;
      background-size: 1rem;
      box-shadow: 1px 1px 2px whitesmoke;
    }
    
    .namki_MakeCombi_textarea {
      box-sizing: border-box;
      width: 100%;
      -webkit-appearance: none; /* 네이티브 외형 감추기 */
      -moz-appearance: none;
      appearance: none;
      border-radius: 6px;
      margin-top: 1rem;
      border: 1px solid lightgrey;
      font-size: 1rem;
      height: 2.5rem;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
    .Hyeri__extraitems {
      font-size: .8rem;
      display: flex;
      justify-content: space-between;
      padding: 0 2rem;
      align-items: center;
    }
    .Hyeri__extra2buttons{
      display: flex;
    }
    .Hyeri__extrabuttons{
      display: flex;
      justify-content: space-between;
    }
    .Hyeri__extrabuttons div{
      background: linear-gradient(to bottom, lightskyblue, #8470ff);
      opacity: .8;

      /*background-color: #8470ff;*/
      width: 1rem;
      height: 1rem;
      padding: auto;
      color: white;
      border-radius: 50%;
      box-shadow: 1px 1px 2px lightgrey; 

    }
    .accordion {
      width:100%;
      font-family: Lato;

      background-color: #ec5366;
      border-radius: 6px;
    }

    .accordion .header {
      height: 40px;
      line-height: 40px;
      padding: 0 40px 0 8px;
      position: relative;
      color: dimgrey;
      font-weight: 500;
      margin: .3rem 0;
      cursor: pointer;
    }

    .accordion .header-icon {
      position: absolute;
      top: 10px;
      right: 1rem;
      transform: rotate(0deg);
      transition-duration: 0.3s;
      width: 1.3rem;

    }

    .accordion .header-icon.rotate {
      transform: rotate(180deg);
      transition-duration: 0.3s;

    }

    .accordion .body {
    /*   display: none; */
      overflow: hidden;
      background-color: white;
      border: 10px solid #ec5366;
      border-top: 0;
      height: max-content;
      padding: 1rem;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: 150ms ease-out;
    }
    /*Hyeri's custom*/
    .accordion hr{
      border: none;
      /*border-color: #8470ff;*/
      height: 1px;
      width: 90%;
      background-color: whitesmoke;
      /*background: linear-gradient(to right, lightskyblue, #8470ff);*/
      margin: .6rem auto;
      box-shadow: none !important;
      font-weight: 500;
    }
    .accordion .body-inner {
      /*padding: 1rem;*/
      overflow-wrap: break-word;
      /* white-space: pre-wrap; */
    }

    .accordion.hyeri{
      background-color:white;
      border: 1px solid lightgrey;
      /*box-shadow: 1px 1px 3px rgba(132,112,255, 0.6);*/
      margin-bottom: .3rem;
    }
    .accordion.hyeri .body{
      border-color:white;
      height: max-content;
    }

    .accordion.purple {
      background-color: #8c618d;
      /*border: 1px solid;*/

    }
    .accordion.purple .body {
      border-color: #8c618d;
      height: max-content;
    }
    .accordion.red {
      background-color: #c03333;
    }

    .accordion.red .body {
      border-color: #c03333;
    }
    .accordion.yellow {
      background-color: #e8f719;
    }

    .accordion.yellow .body {
      border-color: #e8f719;
    }
    .accordion.gray {
      background-color: #5c575c;
    }

    .accordion.gray .body {
      border-color: #5c575c;
    }

    