    #MakeCombi {
      padding: 1rem;
      margin-top: -3rem;
    }
    .Hyeri__makecombi_header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: dimgrey;
      /*box-shadow: 0 1px 2px lightgrey;*/
      border-bottom: 1px solid lightgrey;
      margin-bottom: 1rem;
    }   
    .Hyeri__uploadbox{
      /*display: inline-flex;*/
      justify-content: center;
    } 
    .namki_uploadingimage{
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      object-position: top;
      overflow: hidden;

      
    }
    .Hyeri__filebox{
      display: inline-block;
      padding: .8em .5em;
      color: lightskyblue;
      vertical-align: middle;
      background-color: white;
      box-shadow: 1px 1px 2px aliceblue;
      border-radius: .7rem;
      width: 50%;
      margin-top: 1rem;
      margin-bottom: 2rem;

    }
    .Hyeri__filebox input[type="file"]{
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip:rect(0,0,0,0);
      border: 0;

    }
    .namki_button {
      padding: 5px 5px;
      border: 1px solid #ddd;
      color: #333;
      background-color:#fff;
      border-radius: 4px;
      font-size: 10px;
      cursor: pointer;
    }
    .namki_MakeCombi_select {
      margin-bottom:5px;
      width: 100%; /* 원하는 너비설정 */
      padding: 1em 1em; /* 여백으로 높이 설정 */
      font-family: inherit;  /* 폰트 상속 */
      border: 1px solid lightskyblue;
      border-radius: .5rem;
      color: dimgrey;
      font-weight: 500;
      margin-top: .1rem;
      -webkit-appearance: none; /* 네이티브 외형 감추기 */
      -moz-appearance: none;
      appearance: none;
      background-color: white;
      background: url('../../assets/arrow-down_lightskyblue.png') no-repeat 95% 50%;
      background-size: 1rem;
      box-shadow: 1px 1px 2px whitesmoke;
    }
    
    .namki_MakeCombi_textarea {
      width:100%;
      border-radius: 6px;
      margin-top: 1rem;
      border: 1px solid lightskyblue;
      

    }
    .accordion {
      width:100%;
      font-family: Lato;

      background-color: #ec5366;
      border-radius: 6px;
    }

    .accordion .header {
      height: 40px;
      line-height: 40px;
      padding: 0 40px 0 8px;
      position: relative;
      color: #fff;
      cursor: pointer;
    }

    .accordion .header-icon {
      position: absolute;
      top: 5px;
      right: 8px;
      transform: rotate(0deg);
      transition-duration: 0.3s;
    }

    .accordion .body {
    /*   display: none; */
      overflow: hidden;
      background-color: #fff;
      border: 10px solid #ec5366;
      border-top: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: 150ms ease-out;
    }

    .accordion .body-inner {
      padding: 8px;
      overflow-wrap: break-word;
      /* white-space: pre-wrap; */
    }

    .accordion .header-icon.rotate {
      transform: rotate(180deg);
      transition-duration: 0.3s;
    }

    .accordion.purple {
      background-color: #8c618d;
      border: 1px solid;

    }
    .accordion.purple .body {
      border-color: #8c618d;
    }
    .accordion.red {
      background-color: #c03333;
    }

    .accordion.red .body {
      border-color: #c03333;
    }
    .accordion.yellow {
      background-color: #e8f719;
    }

    .accordion.yellow .body {
      border-color: #e8f719;
    }
    .accordion.gray {
      background-color: #5c575c;
    }

    .accordion.gray .body {
      border-color: #5c575c;
    }

    .namki_button_active{
      background-color: lightgray;
    }